body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #181817;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #f1f1f1;
    text-align: left;
    padding: 0.5em;
}

td {
    padding: 0.5em;
}

footer {
    background-color: #caef42;
    color: rgb(19, 19, 19);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
